
<!-- Your form -->
<form asp-action="Submit" asp-controller="Your" method="post">
    <!-- Your form fields -->
    <div class="form-group">
        <input type="text" class="text-danger form-control" name="" />
    </div>
</form>